


    #footer {

        color: black;
        font-size: 1rem;
        position: fixed;
        left: 0;
        bottom: 10px;
        width: 25%;
        z-index: 9999;
        background: #112846;
    }

    #footer .credits {
        padding-top: 5px;
        text-align: center;
        font-size: 13px;
        color: black;
        font-size: 1rem;
    }
    #footer .copyright {
        text-align: center;
        color: black;
        font-size: 1rem;
    }
    
    


